<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://i.pinimg.com/originals/c9/11/86/c911869291704544b20cb73196c9dd68.jpg"
      width="40"
      height="40"
      alt=""
    />
    E-Predator
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/kategori">kategori</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/member">Member</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/produk">produk</a>
      </li>
    </ul>
  </div>
</nav>
